.contactus{
    font-family:cursive;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left:300px;
    margin-right: 300px;
    border: 5px solid rgb(104, 25, 103);
    text-align:left;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: 50px;

}