.latestnews {
    margin-top:0%;

    text-align: center;
    background-color:#2f1045;
   
  }
  
  .title {
    margin-bottom: 50px;
    color: red ;
  }
  
  .image_wrapper {
    margin: 0px 30px;
  }
  
  .image_wrapper img {
    width: 50%;
 
  }
  .marque{
    display: flex;
    flex-direction: row;
    border:  1px solid red;
  }
  .kk
  {
  background-color:#ef7e17; width: 120px; position: relative;
      left: -15px; height:16px;z-index:99; color:#fff; font-size:18px; padding-bottom:20px; text-align:center;
  }